.carousel {
  overflow: hidden;
  width: 50%;
  margin: 0 auto;
}

.inner {
  height: 50vh;
  white-space: nowrap;
  transition: transform 0.3s;
}

.carousel-item {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 50vh;
  background-color: #f6f6f6;
  color: #000;
}

.indicators {
  display: flex;
  justify-content: center;
}

.indicators > button {
  margin: 5px;
}
  
  