.headerSite{
    position: relative;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    background-color: #000;
}
.liHeader{
    line-height: 80px;
    height: 80px;
    margin-left: 20px;
}
.logoHSite{
    line-height: 80px;
    text-align: center;
}
.logoHeaderSite{
    width: 23%;
}