
.bg-dark{
    background-color: black !important;
}
.navbar{
    height: 80px ;
    background-color: black !important;
    position: sticky !important;
    top: 0;
    width: 100% !important;
    color: white !important;
}
.navbar-brand{
    width:75%;
}
.logo{
    width: 6%;
    margin-left: 10px;
}
.navbar > .container{
    padding: 0;
}
.nav-link{
    color: white !important;
    font-size: 1.2em !important;
}
.navbar-collapse{
    padding: 0;
}
.navbar-toggler-collapsed{
    color: white !important;
}
.me-auto.navbar-nav{
    background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity)) !important;;
    width: 100% !important;
    text-align: center;
}

@media  (max-width : 990px){
    .navbar{
        position: fixed !important;
        top: 0;
    }
}
